body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*ACCORDION*/

#accordion{
  background-color:rgb(252, 252, 254);
  border-radius: 30px;
  width:400px;
  min-height: 90px;
  max-height:690px;
  overflow: auto;
  border:30px solid black;
  margin:0 auto;
  box-shadow:10px 1px 10px;
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
}
.accordion .accordion-item .title:hover {
  background-color: #DC4C64;
  color:white;
}

.ingredients-container {
  justify-content:left;
  border:1px solid grey;
  flex-wrap:wrap;
  box-shadow:1px 1px 10px #3e8195;
  border-radius:10px;
  padding:12px;
  line-height:20px;
}
.ingredient{
  text-align:left;
  font-size:14;
  height:16px;
  color:grey;
  width:auto;
  margin-top:30px;
  margin:20px;
}
.accordion .accordion-item {
  border:1px solid rgb(200, 191, 191);
  z-index:2000;
}

/* END ACCORDION */ 
.card:hover {
  background-color: #fff;
}
.percentage {
  display: flex;
  justify-content: space-between;
}

.progressPercent {
  text-align: center;
  background-color: lightgrey;
  color: var(--black-color);
  flex: 0 1 40%;
  padding: 8px 0;
  border-radius: 6px;
}

.progressBar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFF;
  text-align:center;
  margin:0 auto;
  
}
.recipes {
  background-color: red;
  height:241px;
}

header {
  display: flex;
  justify-content: center;
  
}

.header-container {
  padding: 20px 0;
  padding: 20px 0;
  flex: 0 1 80%;
  background-color: black;
  text-align:center;

}

.header-container p {
  color: #FFF;
  line-height: 19px;
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
footer {
display: flex;
justify-content: center;
 position:relative;
 bottom:0;
 width:100%;
background-color: black;
text-align:center;
height:100px;
padding: 20px 0;
padding: 20px 0;
flex: 0 1 80%;
}

footer p {
  color: #FFF;
  line-height: 19px;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
footer img{
  width:200px;
}

.header-fixed{
  position:sticky;
  flex-grow: 1;
  top: 0;
  z-index:3000;
}
nav {
  background-color: black;
}
.message {
  height:65px;
  border-bottom:1px solid #d9d9d9;
}
.message2 {
  height:75px;
  border-bottom:2px solid #d9d9d9;
}
.signUpLoginBox {
  padding:10px;
  color:white;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.signUpLoginBox {
  /* background-image: url(images/recipesboard.jpg);
  background-repeat: repeat;
  -webkit-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: center; */
}

.slContainer {
  flex: 0 1 80%;
  display: flex;
}

.formBoxLeftSignup {
  /* min-height: 500px;
  background-image: url(images/recipesboard.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 1 50%; */
}

.formBoxLeftLogin {
  background:transparent;
}

.formBoxLeftForget {
  min-height: 500px;
  background-image: url(images/recipesboard.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 1 50%;
}

.formBoxRight {
  flex: 0 1 50%;
}

.formBoxRight span {
  display: block;
  color: red;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  margin: 15px 0;
}

.formContent {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.formContent h2 {
  margin: 0 0 40px 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
}

.formContent .inputBox {
  position: relative;
  height: 80px;
}

.formContent .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  outline: none;
}

.formContent .inputBox label {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 17px;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.formContent .inputBox input:focus~label,
.formContent .inputBox input:valid~label {
  top: -30px;
  left: 0;
  color: white;
  font-size: 16px;
  font-style: italic;
}

Form buttons
.formContent button {
  margin-left: 0;
  display: block;
  margin: 0 auto 20px;
  min-width: 150px;
  background-color: transparent;
  color: white;
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
}

.formContent button:hover {
  background-color: red;
  color: var(--white-color);
  cursor: pointer;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  color: darkgrey;
  opacity: 0.65;
  cursor: not-allowed;
}

.linkContainer {
  height: 50px;
  margin-top: 35px;
  padding-top: 15px;
  border-top: 1px dashed lightgrey;
}

.simpleLink {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.simpleLink:hover {
  color: red;
}

.startingImg {
  background-image: url(images/landing-img.png);
}

.landing-message {
  text-align:center;
  padding:100px;
  color:white;
  font-size:28px;
}

.Web {
  display:flex;
  justify-content:center;
}
#form1{
  display:none;
}
#add_recipe_logout{
  display:none;
}

/* END SIGNUP - LOGIN - FORGETPASSWORD */

@media only screen and (max-width:390px) {
  #accordion{
    background-color:rgb(252, 252, 254);
    border-radius: 0px;
    width:100%;
    height: 770px;
    overflow: auto;
    margin:0 auto;
    box-shadow:10px 1px 10px;
    border:10px solid black;
  } 
}

@media only screen and (max-width:900px) {
  #addRecipe{
    display: none;
  }
  #form-2{
    display:none;
  }
  #form1{
    display:block;
  }
  #add_recipe_logout{
    display:block;
  }
}



